html {
 padding: 0;
 margin 0;    
}

body {
 width: 100%;
 background-color: #fff;    
 font-family: "Hiragino Sans", "Meiryo", "Yu Gothic", "YuGothic", sans-serif;
 color:#505050; 
}

header {
 width: 100%;
 height: 50px;
 /* background-color: yellow; */
 display: flex;
 justify-content: space-between;
}

#shop_name {
 width: 200px; 
 font-size: 20px;
 font-weight: 250;  
 padding: 14px 0 0 0;
 margin: 0 0 0 59px; 
} 

#navi {
 width: 200px; 
 display: flex;
 justify-content: center;
 margin: 0 37px 0 0;
}

#navi_menu {
 width: 73px;
 height: 33px;    
 font-size: 20px;
 font-weight: 250;  
 padding: 16px 0 0 0;
 margin: 0 0 0 -27px;  
}

#navi_about {
 width: 73px;
 height: 33px; 
 font-size: 20px;
 font-weight: 250;  
 padding: 15px 0 0 0;
 margin: 0 0 0 23px;
}

/* main */
#main {
  width: 100%;
}

/* main_visual */
#main_visual { 
  position: relative;  
  display: flex;
  justify-content: center;
}

#main_visual > h2 {
 position: absolute;
 width: 570px;
 margin-top: calc(62 / 1080 * 100vw);
 text-align: center;
 font-weight: 400;
 font-size: 38px;
 letter-spacing: 2.2px;
 z-index: 11;
}

#top-picture-wrap {
  width: 100%;
}

#fv-pic {
  width: 100%;
  display: block; 
}

picture {
  display: block; 
  width: 100%;  
  height: 100%;
  z-index: 10;  
}

/* #fv-pc {
 display: block;
 width: 1080px;
 height: 500px; 
}
#fv-sp {
 display: none;
} */

/* MENU */
#menu {
  width: 100%;
  margin-top: 61px;
  margin-bottom: 39px;
}

#h2-with-padding {
  padding-top: 51px;
}

.inner {
  max-width: 1020px;
  width: 100%;
  padding-inline: 30px;
  margin-inline: auto;  
}

.inner > h2 {
 width: 93px; 
 font-size: 30px;
 font-weight: 250;
 /* padding-top: 62px;  */
 margin: 0 auto;
}

.border-span-menu {
 padding-bottom: 8px;
 border-bottom: solid 3px #505050;
}

#menu_wrapper {
 width: 100%;
 display: flex; 
 justify-content: center;
 column-gap: 3.125%;
 margin-top: 10px;
 margin-bottom: 40px;
 padding: 0;
}

/* #menu_01,#menu_02,#menu_03 {
  width: 27.8%;
}
#menu_01 {
 margin-left: 5.5%;
}
   
#menu_03 {
 margin-right: 5.5%;
} */

.picture-wrap {
  width: 100%;
  margin-top: 30px;
}

.menu-picture {
  width: 100%;
  display: block; 
}

/* .picture-sp {
 display: none;
} */

.content {
  width: 100%;
 margin-top: 33px;
}

.name {
 width: 100%;
 text-align: center; 
 font-size: 20px;
 font-weight: 400; 
 letter-spacing: -1.95px;
 margin-top: 30px;
}

/* @media screen and (max-width: 818px) {
 .small-name {
  font-size: 17px;
 }
} */

.explain {
  width: 100%;
 text-align: center; 
 font-size: 15px;
 font-weight: 250; 
 margin-top: 9px;
 line-height: 25px;
}

/* ABOUT */
#about {
 width: 100%;
 background-color: rgba(0, 0, 0, 0.051);
 padding-bottom: 47px;
}

.border-span-about {
    padding-bottom: 8px;
    border-bottom: solid 3px #505050;
   }

#about_wrapper {
  width: 100%;
 display: flex;
 justify-content: space-between; 
}

#text-wrapper {
  width: 49.06%;
 margin-top: 60px;
 /* margin-left: 5.5%; */
}

#concept {
 width:471px;
 flex-wrap: wrap;
 font-weight:400;  
 font-size: 22px;
 /* margin-left: 60px; */
 letter-spacing: -0.15px;
 line-height: 33px;
}

#detail {
 flex-wrap: wrap;
 margin-top: 20px;  
 line-height: 33px;
}

#detail > p {
 /* width:471px; */
 font-weight:250;  
 font-size: 18px; 
 margin-right: 0;
 margin-bottom: 13.5px; 
 letter-spacing: -0.1px;
}


@media screen and (max-width: 802px) {
  #detail > p > br {
   display: none;
  }
}

#more-btn {
 width: 250px;
 height: 55px;
 background-color: #505050; 
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 22px 0 0 0 ;
}

#more-btn > a {
 color: #fff;
 font-size: 25px;
 font-weight: 250;
 margin-top: 4px;
}

#img-wrapper {
 width: 46.87%;
 margin-top: 40px; 
}

.about-picture {
  width: 100%;
  display: block; 
}

#about-img-sp{
 display: none;
}

footer {
 width: 100%; 
 display: flex;
 align-items: center;
 height: 92px;
 background-color: #505050;  
}

footer > p {
 width: 500px;
 text-align: center;
 color: #fff; 
 font-size: 20px;
 font-weight: 250;
 letter-spacing: 0.01rem;
 margin-top: 5px;
 margin-left: auto;
 margin-right: auto;
}

